/* ACÁ EMPIEZA EL FOOTER */
.footer {
	background-color: rgb(131, 100, 72);
	padding: 20px 0 50px;
	height: 150px;
}

.contColsFooter {
	width: 600px;
	margin: auto;
	margin-bottom: 30px;
}

.contactTitle {
	text-align: center;
	color: wheat;
	font-size: 1.8rem;
	font-weight: 300;
}

.colsFooter {
	width: 50%;
	float: left;
	margin-top: 20px;
}

.colsFooter a {
	display: block;
	margin-top: 5px;
	text-decoration: none;
	font-size: 1.2rem;
}

.colsFooter p {
	font-weight: 300;
}

.colsFooter a,
.colsFooter p {
	color: white;
	text-align: center;
}

.colsFooter a:hover {
	color: wheat;
}
